ipykernel>=7.3.0
numpy==2.5.2
pandas==3.0.5
plotly==6.9.0
scikit-learn==1.9.0
sentence-transformers==6.0.1
spacy==3.8.14
nltk==3.10.3
tokenizers==0.23.1
pymupdf==1.28.0 
gensim==4.4.0
nbformat>=4.2.0
datasets==5.0.1
imbalanced-learn==0.14.2
kagglehub==1.0.2
bertopic==0.17.4
kagglehub==1.0.2
matplotlib==3.11.1
seaborn==0.13.2
